@page
@{ Layout = "_Layout"; }

<template v-if="pageType == 'process'">
  <div style="margin: 1em 2em 2em 2em;">
    <div style="padding: 5px;">任务完成:
      <font id="prgressBarPercetage" v-html="parseInt(current * 100 / total) + ''">0</font>%
    </div>
    <div style="width: 600px; height: 25px;  background: #eee;">
      <div :style="{width: parseInt(current * 600 / total) + 'px'}"
        style="width: 0; height: 25px; background: #1b7fe6;"></div>
    </div>
    <div class="tips" style="margin: 5px">{{message || '任务初始化...'}}</div>
  </div>
</template>

<template v-else-if="pageType == 'error'">
  <el-alert title="错误提示" type="error" :description="errorMessage" show-icon>
  </el-alert>
</template>

@section Scripts{
<script src="/sitefiles/assets/js/admin/apps/create.js" type="text/javascript"></script>
}