# ------------------------------
# Environment Variables for SSRAG
# ------------------------------

SECURITY_KEY=f8ca6f4a11aba05d98d781297ad38b15.dbd5c7fa1dc2f4fe783f70a0df5e20f4

# ------------------------------
# Database Configuration
# The database uses PostgreSQL. Please use the public schema.
# It is consistent with the configuration in the 'pgvector' service below.
# ------------------------------

DB_HOST=postgre
DB_PORT=5432
DB_USER=ssrag
DB_PASSWORD=ssrag123456
DB_DATABASE=ssrag

# ------------------------------
# Redis Configuration
# This Redis configuration is used for caching and celery worker.
# ------------------------------

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=ssrag123456
REDIS_USE_SSL=false
REDIS_DB=0

# ------------------------------
# Celery Configuration
# Celery Worker depends on redis, this configuration is used for specified redis db.
# ------------------------------

CELERY_BROKER_DB=1
CELERY_BACKEND_DB=2

# ------------------------------
# Vector Database Configuration
# ------------------------------

# The type of vector store to use.
# Supported values are `pgvector`, `weaviate`.
VECTOR_STORE=pgvector

# pgvector configurations, only available when VECTOR_STORE is `pgvector`
PGVECTOR_HOST=pgvector
PGVECTOR_PORT=5432
PGVECTOR_USER=postgres
PGVECTOR_PASSWORD=ssragai123456
PGVECTOR_DATABASE=ssrag

# weaviate configurations, only available when VECTOR_STORE is `weaviate`
WEAVIATE_ENDPOINT=http://weaviate:8080
WEAVIATE_API_KEY=WVF5YThaHlkYwhGUSmCRgsX3tD5ngdN8pkih
WEAVIATE_PERSISTENCE_DATA_PATH=/var/lib/weaviate
WEAVIATE_QUERY_DEFAULTS_LIMIT=25
WEAVIATE_AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=true
WEAVIATE_DEFAULT_VECTORIZER_MODULE=none
WEAVIATE_CLUSTER_HOSTNAME=node1
WEAVIATE_AUTHENTICATION_APIKEY_ENABLED=true
WEAVIATE_AUTHENTICATION_APIKEY_ALLOWED_KEYS=WVF5YThaHlkYwhGUSmCRgsX3tD5ngdN8pkih
WEAVIATE_AUTHENTICATION_APIKEY_USERS=hello@ssrag.ai
WEAVIATE_AUTHORIZATION_ADMINLIST_ENABLED=true
WEAVIATE_AUTHORIZATION_ADMINLIST_USERS=hello@ssrag.ai

# ------------------------------
# File Storage Configuration
# ------------------------------

# The type of storage to use for storing user files.
STORAGE_TYPE=opendal

# ------------------------------
# Compose Profiles Configuration
# ------------------------------

COMPOSE_PROFILES=postgre,redis